main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.charinput{
    width: 20px;
    border: none;
    padding: 0 10px;
    font-size: 20px;
    outline: none;
}

.jogadorInsuficiente{
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}